body{
    background-image: url(./photo/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg);
    background-size: cover;
}
.tt, th, td{
    border: 2px solid black;
    background-color: aqua;
    border-radius: 10px;
}

.o {
    background-color: blue;
}

th, td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.tt {
    border-spacing: 10px ;
    margin: 10% 20%;    
}

.t {
    border-spacing: 10px ;
    margin: 10% 20%;    
}

tr :hover{
    
}